*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
   
}

body{
    color: black;
    background: #f2f2f2;
}


.container {
    padding: 0 20px;
    margin-left: 10px;
    margin-top: 160px;
}

/* headding */

.title{
    margin-top: -60px;
    background:  white;
    padding: 7px;
    text-align: center; 
}
.title b{
    font-size: 25px;
    margin-left: -100px;
    color: #404040;
}
.routing {
    float: left;
    color: #63b4cf;
    margin-top: 5px;
}

.both {
    margin-top: 20px;
}


/* table */

/* firstrow  */
.firstRow {
    float: right;
    margin-right: 88px;
    padding-bottom: 20px;
}
.salonDetails{
    padding-right: 77px;
}


.salonDetails th {
    float: left;
}
.SecondRow {
    display: inline;
}
/* leftDetails */
.tableleft2{
    margin-top: 10px;
}
.tableright {
    float: right;
    margin-right: 20px;
}

/* customer name */
.firstName {
   padding-left: 40px;
}

/* maintable */
.body {
    margin-top: 60px;
}
table.masterlist{
    width: 100%;
    border-radius: 10px;
}
table.masterlist th{
    top: 210px;
    background-color: white;
    color: black;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}
.masterlist th,.masterlist td{
    padding: 10px;
    text-align: center;
}




/* mobiletitle */

.mobiletitle{
    margin-top: -60px;
    background:  white;
    padding: 7px;
    text-align: center; 
    display: none;

}
.mobiletitle b{
    font-size: 25px;
    margin-left: -10px;
    color: #404040;
    display: none;
}
.mobilerouting {
    float: left;
    color: #63b4cf;
    margin-top: 10px;
    display: none;

}

/* responsiveness */
@media screen and (max-width:750px) {

    .title {
        display: none;
    }
    .title b {
        display: none;
    }
    .mobiletitle {
        display: block;
    }
    .mobiletitle b {
        display: block;
    }
    .mobilerouting {
        display: block;
    }

}