*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
   
}

body{
    padding: 0 50px;
    background: #f2f2f2;
}

.container{
    margin-left: 225px;
    padding-top: 80px;
    margin-bottom: 30px;
  }
.sub-section {
    top: 80px;
    margin-right: 130px;
    width: 100%;
    height: 130px;
    background: #f2f2f2;
  }
  .headding {
    margin-left: 20px;
  }


/* filter */

.filter {
    display: flex;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    
}

.form-control{
    width:230px;
    padding: 10px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-color: #1d224d;
    border-radius: 4px;
    color: black;
    background: white;

} 

/* filter button */
.button{
    background: #555;
    color: #fff;
    padding:11PX 30px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.button:hover{
    opacity: 0.7;
}
/* filter end */

.button_Next_Text {
    color: #808080;
    display: inline-flex;
    font-size: 30px;
    padding-top: 30px;
}



/* table */
.body {
    padding-top: 15px;
}

table.masterlist{
    width: 100%;
    border-radius: 10px;
}

table.masterlist th{
    top: 210px;
    background-color: white;
    color: black;
    text-align: center;
    border-bottom: 1px solid #cccccc;

}
.masterlist th,.masterlist td{
    padding: 10px;
    text-align: center;
}

/* delete */
#addNew3 {
    padding: 4px 8px;
    background: #e60000;
    color: white;
    border-radius: 4px;
    border: none;
    text-decoration: none;
}
#addNew3:hover{
    background: #ff0000;
  
}
/* bill */
#addNew1 {
    padding: 4px 8px;
    background: lightskyblue;
    color: black;
    border-radius: 4px;
    border: none;
    text-decoration: none;
}
#addNew1:hover{
    background: lightskyblue;
  
}
/* responsiveness */

@media screen and (max-width:1157px) {

    body {
        margin-left: -200px;
        transition: all 0.4s ease;
    }
}
    
@media screen and (max-width:1400px) {
    
    .masterlist thead {
        display: none;
    }

    .masterlist, .masterlist tbody, .masterlist tr, .masterlist td {
        display: block;
        width: 100%;
    }

    .masterlist tr {
        margin-bottom: 15px;
    }
    .masterlist td {
        text-align: right;
        padding-left: 10%;
        padding-right: 10%;
    }
    .masterlist td::before {
        content: attr(data-label);

        float: left;
        font-weight: bold;
    }
}

 