*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
   
}

body{
    padding: 0 50px;
    background: #f2f2f2;
}


.container{
    margin-left: 225px;
    padding-top: 80px;
    margin-bottom: 30px;
  }
/* headding */
.sub-section {
    top: 80px;
    margin-right: 130px;
    width: 100%;
    height: 130px;
    background: #f2f2f2;
  }
  .headding {
    margin-left: 20px;
  }
    .button_Next_Text {
      color: #808080;
      display: inline-flex;
      font-size: 30px;
      padding-top: 30px;
    }



/* graph*/
.chart{
    margin-top: 100px;
    margin-left: 33%;
    width: 50%;
    background-color: white;
    border-radius: 2px;
}
.body h2{
    font-size: 30px;
}
.chart h2 {
    text-align: center;
}
.today{
    margin-top: 20px;
    margin-left: 5px;
    
}

/* responsiveness */

@media screen and (max-width:1157px) {

    body {
        margin-left: -200px;
        transition: all 0.4s ease;
    }
    .container {
        margin-bottom: 30px;
        transition: all 0.4s ease;
    }
    .chart{
        background-color: white;
        border-radius: 2px;
        transition: all 0.4s ease;
        margin-bottom: 10px;
    }

    }
    @media screen and (max-width:1100px) {
        .chart{
            margin-left: 440px;
        }
    }
    @media screen and (max-width:1050px) {
        .chart{
            margin-left: 440px;
        }
    }
    @media screen and (max-width:1000px) {
        .chart{
            margin-left: 440px;
        }
    }
    @media screen and (max-width:950px) {
        .chart{
            margin-left: 390px;
        }
    }
    @media screen and (max-width:900px) {
        .chart{
            margin-left: 380px;
        }
    }
    @media screen and (max-width:850px) {
        .chart{
            margin-left: 370px;
        }
    }
    @media screen and (max-width:800px) {
        .chart{
            margin-left: 360px;
        }
    }
    @media screen and (max-width:750px) {
        .chart{
            margin-left: 350px;
        }
    }
    @media screen and (max-width:700px) {
        .chart{
            margin-left: 310px;
        }
    } 
    

