
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
   
}

body{
    color: black;
    background: #f2f2f2;
}


.container {
    padding: 0 20px;
    margin-left: 10px;
    margin-top: 160px;
}

/* errormessages */
.errmsg{
    color: #f2f2f2;
    width: 20%;
    padding: 10px;
    border-radius: 4px;
    background-color: #ff4d4d;
    margin-left: 30px;
    margin-top: 10px;
}

/* headding */

.title{
    margin-top: -60px;
    background:  white;
    padding: 7px;
    text-align: center; 
}
.title b{
    font-size: 25px;
    margin-left: -100px;
    color: #404040;
}
.routing {
    float: left;
    color: #63b4cf;
    margin-top: 5px;
}


.box {
    margin-bottom: 20px;
}
/* form */
.user-details{
    margin-top: 100px;
    margin-left: 120px;
}

/* inputboxes */
input[type=text],[type=email],[type=date],[type=password]{
    display: block;
    width:300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
    
}  

/* role */
select#inputRole {
    display: block;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    width: 300px;
}
/* imageInput */
input[type=file]{
    display: block;
    margin-left: -140px;
   
}

/* buttons */
.button {
    display: inline-flex;
    margin-left: 150px;
    margin-top: 20px;
}
/* update button */
#submit{
    background: #555;
    color: #fff;
    padding:10PX 15px; 
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-left: 300px;
}
#submit:hover{
    opacity: 0.7;
}

/* back button */
.back {
    background: blue;
    color: #fff;
    padding:9PX 22px; 
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-left: 200px
}
.back:hover{
    opacity: 0.5;
}




/* first row */
.input_box_first {
    display: inline-flex;
}

/* firstName */
.firstLeft {
    display: inline-flex;
}
.inputColumnFirstLeft {
    margin-left: 225px;
}

/* lastName */
.firstRight {
    display: inline-flex;
    margin-left: 50px;
}
.inputColumnFirstRight {
    margin-left: 175px;
}



/* second row */
.input_box_second {
    display: inline-flex;
}

/* phoneNumber */
.secondLeft {
    display: inline-flex;
}
.inputColumnSecondLeft {
    margin-left: 195px;
}
/* gender */
.secondRight {
    display: inline-flex;
    margin-left: 50px;
}
.inputColumnSecondRight {
    margin-left: 200px;
}


/* third row */
.input_box_third {
    display: inline-flex;
}

/* DOB */
.thirdLeft {
    display: inline-flex;
}
.inputColumnThirdLeft {
    margin-left: 268px;
    display: block;
    width:300px;
    border-radius: 4px;
  
}

/* NIC */
.thirdRight {
    display: inline-flex;
    margin-left: 30px;
}
.labelColumnThirdRight {
    margin-left: 23px;
}
.inputColumnThirdRight {
    margin-left: 220px;
}


/* fourth row */
.input_box_forth {
    display: inline-flex;
}

/* address */
.forthLeft {
    display: inline-flex;
}
.inputColumnForthLeft {
    margin-left: 245px;
}

/* email */
.forthRight {
    display: inline-flex;
    margin-left: -50px;
}
.labelColumnForthRight {
    margin-left: 104px;
}
.inputColumnForthRight {
    margin-left: 205px;
}



/* fifth row */
.input_box_fifth {
    display: inline-flex;
}

/* image */
.fifthLeft {
    display: inline-flex;
}
.inputColumnFifthLeft {
    margin-left: 400px; 
}
#inputImage {
    background: #63b4cf;
    color: white;
    padding: 12px;
    width:300px;
    border-radius: 4px;
}
#preimage {
    margin-top: 10px;
}

/* image button */
/* #modifyimg {
    background: darkmagenta;
    color: #fff;
    width:300px;
    padding: 12px; 
    cursor: pointer;
    border-radius: 5px ;
    border: none;
    margin-left: -142px;
} */

#modifyimg:hover{
    opacity: 0.5;
}

/* role */
.fifthRight {
    display: inline-flex;
    margin-left: 50px;

}
.inputColumnFifthRight {
    margin-left: 210px;
}
.role {
    display: flex; 
}
.roleNo1 {
    margin-right: 5px;
}

/* password */
.sixthLeft {
    display: inline-flex;
    /* margin-left: 50px; */

}
.inputColumnSixthLeft {
    margin-left: 233px;
}

/* password show */
.seventhLeft {
    display: inline-flex;
    /* margin-left: 50px; */

}
.inputColumnSeventhLeft {
    margin-left: 190px;
}

/* mobiletitle */

.mobiletitle{
    margin-top: -60px;
    background:  white;
    padding: 7px;
    text-align: center; 
    display: none;

}
.mobiletitle b{
    font-size: 25px;
    margin-left: -10px;
    color: #404040;
    display: none;
}
.mobilerouting {
    float: left;
    color: #63b4cf;
    margin-top: 10px;
    display: none;

}

/* responsiveness */

@media screen and (max-width:1500px) {

    .user-details {
        margin-left: 100px;
    }
}
@media screen and (max-width:1426px) {
    .user-details {
        margin-left: 70px;
    }
}
    @media screen and (max-width:1400px) {

    .user-details {
        margin-left: 60px;
    }
}
@media screen and (max-width:1360px) {
    .user-details {
        margin-left: 130px;
    }
    .inputColumnFirstLeft {
        margin-left: 100px;
    }.inputColumnSecondLeft {
        margin-left: 70px;
    }.inputColumnThirdLeft {
        margin-left: 143px;
    }.inputColumnForthLeft {
        margin-left: 118px;
    }.inputColumnFifthLeft {
        margin-left: 274px;
    }.inputColumnSixthLeft {
        margin-left: 105px;
    }.inputColumnSeventhLeft {
        margin-left: 70px;
    }

    .inputColumnFirstRight {
        margin-left: 70px;
    }.inputColumnSecondRight {
        margin-left: 95px;
    }.inputColumnThirdRight {
        margin-left: 117px;
    }.inputColumnForthRight {
        margin-left: 103px;
    }.inputColumnFifthRight {
        margin-left: 107px;
    }
    .button {
        margin-left: 70px;
    }
}
@media screen and (max-width:1281px) {
    .user-details {
        margin-left: 90px;
    }

}
@media screen and (max-width:1150px) {
    .user-details {
        margin-left: 50px;
    }

}
@media screen and (max-width:1100px) {
    .user-details {
        margin-left: 27px;
    }
}
@media screen and (max-width:1064px) {
    .user-details {
        margin-left: 50px;
    }

    .inputColumnFirstLeft {
        margin-left: 60px;
    }.inputColumnSecondLeft {
        margin-left: 30px;
     }.inputColumnThirdLeft {
        margin-left: 103px;
    }.inputColumnForthLeft {
        margin-left: 78px;
    }.inputColumnFifthLeft {
        margin-left: 233px;
    }.inputColumnSixthLeft {
        margin-left: 115px;
    }

    .inputColumnFirstRight {
        margin-left: 30px;
    }.inputColumnSecondRight {
        margin-left: 55px;
    }.inputColumnThirdRight {
        margin-left: 80px;
    }.inputColumnForthRight {
        margin-left: 67px;
    }.inputColumnFifthRight {
        margin-left: 73px;
    }
    .button {
        margin-left: 30px;
    }
}
@media screen and (max-width:1025px) {
    .user-details {
        margin-left: 25px;
    }

}
@media screen and (max-width:1000px) {

    .user-details {
        margin-left: 15px;
    }
}
@media screen and (max-width:972px) {
    .user-details {
        margin-left: 150px;
    }
    .input_box_first {
        display: block;
    }
    .firstRight {
        margin-left: 0px;
    }
    .inputColumnFirstLeft {
        margin-bottom: 20px;
        margin-left: 120px;
    }
    .inputColumnFirstRight{
        margin-left: 120px;
    }


    .input_box_second{
        display: block;
    }
    .secondRight {
        margin-left: 0px;
    }
    .inputColumnSecondLeft {
        margin-bottom: 20px;
    }
    .inputColumnSecondLeft{
        margin-left: 90px;
    }
    .inputColumnSecondRight{
        margin-left: 145px;
    }


    .input_box_third{
        display: block;
    }
    .thirdRight {
        margin-left: -22px;
    }
    .inputColumnThirdLeft {
        margin-bottom: 20px;
        margin-left: 162px;
    }
    .inputColumnThirdRight {
        margin-left: 166px;
    }


    .input_box_forth{
        display: block;
    }
    .forthRight {
        margin-left: -105px;
    }
    .inputColumnForthLeft {
        margin-bottom: 20px;
        margin-left: 135px;
    }
    .inputColumnForthRight {
        margin-left: 153px;
    }
    

    .input_box_fifth{
        display: block;
    }
    .fifthRight {
        margin-left: 0px;
    }
    .inputColumnFifthLeft {
        margin-left: 290px;
    }
    .inputColumnFifthRight {
        margin-left: 153px;
    }

    .inputColumnSixthLeft {
        margin-left: 115px;
    }
    .box {
        line-height: 30px;
    }

    .button {
        margin-left: -240px;
    }
}



@media screen and (max-width:821px) {
    .user-details {
        margin-left: 110px;
    }

}



@media screen and (max-width:750px) {
    .user-details {
        margin-left: 90px;
    }

    .title {
        display: none;
    }
    .title b {
        display: none;
    }
    .mobiletitle {
        display: block;
    }
    .mobiletitle b {
        display: block;
    }
    .mobilerouting {
        display: block;
    }

}
@media screen and (max-width:700px) {
    .user-details {
        margin-left: 60px;
    }
    .button {
        margin-left: -240px;
    }
}
@media screen and (max-width:650px) {

    .user-details {
        margin-left: 80px;
    }
    .inputColumnFirstLeft {
        margin-left: 50px;
    }.inputColumnSecondLeft {
        margin-left: 20px;
     }.inputColumnThirdLeft {
        margin-left: 93px;
    }.inputColumnForthLeft {
        margin-left: 67px;
    }.inputColumnFifthLeft {
        margin-left: 220px;
    }.inputColumnSixthLeft {
        margin-left: 50px;
    }

    .inputColumnFirstRight {
        margin-left: 50px;
    }.inputColumnSecondRight {
        margin-left: 75px;
    }.inputColumnThirdRight {
        margin-left: 97px;
    }.inputColumnForthRight {
        margin-left: 85px;
    }.inputColumnFifthRight {
        margin-left: 85px;
    }
    .button {
        margin-left: -260px;
    }


}
@media screen and (max-width:625px) {
    .user-details {
        margin-left: 60px;
    }

}
@media screen and (max-width:600px) {
    .user-details {
        margin-left: 45px;
    }

}
@media screen and (max-width:580px) {
    .user-details {
        margin-left: 35px;
    }

}
@media screen and (max-width:560px) {
    .user-details {
        margin-left: 30px;
    }

}
@media screen and (max-width:541px) {
    .user-details {
        margin-left: 25px;
    }
}
@media screen and (max-width:530px) {
    .user-details {
        margin-left: 18px;
    }
}
@media screen and (max-width:520px) {
    .user-details {
        margin-left: 10px;
    }
}
@media screen and (max-width:510px) {
    .user-details {
        margin-left: 3px;
    }
}