*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    padding: 0 50px;
    background: #f2f2f2;
}
.container{
    margin-left: 225px;
    padding-top: 80px;
    margin-bottom: 30px;
}


.serviceDetails {
    padding: px;
    margin-left: 10px;
    margin-top: 160px;
}


/* title */
.title{
    margin-top: -60px;
    background:  white;
    padding: 7px;
    text-align: center; 
}
.title b{
    font-size: 25px;
    margin-left: -100px;
    color: #404040;
}
.routing {
    float: left;
    color: #63b4cf;
    margin-top: 5px;
}

/* headding */
.sub-section {
    top: 80px;
    margin-right: 130px;
    width: 100%;
    height: 130px;
    background: #f2f2f2;
  }
  .headding {
    margin-left: 20px;
  }
.button_Next_Text {
    color: #808080;
    display: inline-flex;
    font-size: 30px;
    padding-top: 30px;
}

/* addnew button */
#addNew {
    float: right;
    margin-top: 12px;
    background: #555;
    color: #fff;
    padding:10PX 15px;
    border-radius: 5px;
    margin-right: 50px;
}
#addNew:hover{
    opacity: 0.7;
}

/* table */
.body {
    padding-top: 20px;
}
table.masterlist{
    width: 100%;
    border-radius: 10px;
}
table.masterlist th{
    top: 210px;
    background-color: white;
    color: black;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}
.masterlist th,.masterlist td{
    padding: 10px;
    text-align: center;
}

/* edit */
#addNew2 {
    padding: 5px ;
    background:#d9d9d9;
    margin-left: 65px;
    margin-bottom: 5px; 
    color: black;
    border-radius: 4px;
    border: none;
}
#addNew2:hover{
    background: #e6e6e6;
}

/* delete */
#addNew3 {
    padding: 5px 7px;
    background: #e60000;
    color: white;
    border-radius: 4px;
    border: none;
    text-decoration: none;
}
#addNew3:hover{
    background: #ff0000;
}


/* responsiveness */

@media screen and (max-width:1157px) {

    body {
        margin-left: -200px;
        transition: all 0.4s ease;
    }
}

@media screen and (max-width:930px) {
        .masterlist thead {
            display: none;
        }
        .masterlist, .masterlist tbody, .masterlist tr, .masterlist td {
            display: block;
            width: 100%;
        }
        .masterlist tr {
            margin-bottom: 15px;
        }
        .masterlist td {
            text-align: right;
            padding-left: 10%;
            padding-right: 10%;
        }
        .masterlist td::before {
            content: attr(data-label);

            float: left;
            font-weight: bold;
        }
    }